
body{
    background-color: bisque;
    display: flex;
    
    font-size: 3rem;
    margin: 0;
    padding: 0;
    background-image: url(img/18\ Dic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.contenedor{
  margin-left: 12px;
  margin-top: 50px;
  width: 70%;
  overflow: auto;
}

.text {
    content: "";
    animation: changeBg 1s;
    transition: all transform ease;
    animation-fill-mode: forwards; 
}
@keyframes changeBg{
    0%{background-color: transparent;background-position: right 0px left 0px;}
    100%{background-color: yellow;background-position: right 0px left 0px;}
}

.p {
    border-color: yellow;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(17deg, rgb(255, 0, 204) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    /* -webkit-transition: background 1500ms ease-in-out; */
    transition: background 1500ms ease-in-out;
    margin: 0px;
}

.p2 {
  border-color: yellow;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(17deg, rgb(33, 242, 14) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  /* -webkit-transition: background 1500ms ease-in-out; */
  transition: background 1500ms ease-in-out;
  margin: 0px;
}

.color1{
  background-color: #ED4C4C;
 
}

.color2{
  background-color: #674CED;
}

.color3{
  background-color: #ad8305;
}

@keyframes parpadeo {
  0% { background-color: #004AAD; }
  50% { background-color: transparent; }
  100% { background-color: #004AAD; }
}

.color4 {
  animation: parpadeo 1s infinite;
}

.nn{
  background-color: none !important;
}

.p3 {
  border-color: yellow;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(17deg, rgb(242, 14, 60) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  /* -webkit-transition: background 1500ms ease-in-out; */
  transition: background 1500ms ease-in-out;
  margin: 0px;
}


::-webkit-scrollbar {
    width: 5px; /* Anchura de la barra */
    
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(26, 38, 62); /* Color de fondo de la barra */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar de la barra */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del pulgar de la barra al pasar el cursor por encima */
  }


  p{
    font-weight: 600;
    text-align: center;
    
  }

  .N{
    color:rgb(255, 196, 0)
  }

  .displey{
    height: 500px;
  }